a {
  text-decoration: none;
  color: #264653;
}

.articlecard {
  background-color: white;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  list-style: none;
  display: grid;
  grid-template-areas: "title votes" "topicauthor comments";
  grid-template-columns: 85% 15%;
}

.articlecard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.articletitle {
  grid-area: title;
  font-size: 1.1rem;
}

.articletopic {
  grid-area: topicauthor;
  background-color: #e76f51;
  color: white;
  font-weight: bold;
  padding: 0.25rem;
}

.articletopic a {
  text-decoration: none;
  color: white;
}

.articleauthor {
  grid-area: topicauthor;
}

.articlevotes {
  grid-area: votes;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 20px;
  padding: 0.5rem;
  background-color: #e76f51;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

.commentsicon {
  color: #e76f51;
  margin-right: 0.5rem;
}

.articlecomments {
  grid-area: comments;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topicauthor {
  display: flex;
  align-items: center;
}
