.votebanner {
    display: flex;
}

.votebanner button {
    border: none;
    background-color: white;
    color: #e76f51;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    align-items: center;
    display: flex;
}

.votebanner button:hover {
    color: #be4c30;
}

.votes {
    padding: 0.5rem;
    background-color: #e76f51;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
  }
  