.nocomments {
  background-color: white;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.commentcard {
  background-color: white;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.author {
  font-size: 0.8rem;
}

.topbanner {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}

.votes {
  display: flex;
  align-items: center;
  max-width: 20px;
  max-height: 10px;
  padding: 0.5rem;
  background-color: #e76f51;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

.commentbody {
  padding: 0 10px 10px 10px;
}
