header {
  background-color: #264653;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 20px;
  color: white;
}

.sidemenu button {
  background-color: #264653;
  border: none;
  margin: 20px;
}
