.nav {
  background-color: #b0a6d2;
  height: fit-content;
  color: white;
  list-style: none;
}
.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.ul {
    display: flex;
    justify-content: center;
}

.topictitle {
    list-style: none;
    padding: 0.5rem;
  }


